body{
  font-family: navigo,sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #ecf1f1;
}
h1{
  font-family: navigo,sans-serif;
  font-weight: 700;
  font-style: normal;
}
div #arsenal, #liverpool, #manchestercity, #tottenham {
  border-style: solid;
  padding: 0px 15px;
  width: 30%;
  margin-top: 10px;
}
.new-item-form{
  display: flex;
}
.wrap{
  display: flex;
}
.form-wrapper{
  display: flex;
}
.form-item{
  padding-left: 12px;
}
#top-scorers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#liverpool{
  color: #FFFFFF;
  background-color: #C8102E;
  border-color: #F6EB61;
}
#tottenham{
  border-color: #132257;
  background-color: #FFFFFF;
  color: #132257;
}
#manchestercity{
  color: #FFFFFF;
  background-color: #6CABDD;
  border-color: #1C2C5B;
}
#arsenal{
  color: #FFFFFF;
  background-color: #EF0107;
  border-color: #9C824A;
}
